@import './core'; 

// topbar (general rules)
.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  .logo {
    font-size: $font-lg;
    padding: $spacing-sm $spacing-md $spacing-sm 0;
  }
  .item {
    padding: $spacing-sm $spacing-sm $spacing-sm $spacing-sm;
    :hover {
      color: $accent;
      transition: all 0.3s ease-in;
    }
    .submenu {
      list-style-type: none;
      .subitem {
        :hover {
          color: $secondary;
          transition: all 0.3s ease-in;
        }
      }
    }
  }
}

// topbar mobile
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  li a {
    display: block;
    padding: $spacing-md $spacing-xs;
  }
  li.subitem a {
    padding: $spacing-md;
  }
  .toggle {
    order: 1;
    font-size: $font-md;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    .submenu {
      display: none;
    }
    .submenu-active {
      background-color: $dark;
      border-radius: $btnRadius;
    }
  }
  .item.btn {
    order: 2;
  }
  .item.btn.primary {
    background: $primary;
  }
  .item.btn.secondary {
    background: $secondary;
    color: $light;
  }
}