@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,900&display=swap');

/* Global Resets */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #FFF;
  align-items: center;
  min-height: 100vh;
}

#root {
  height: 100%;
}

// font
$exo-font: 'Exo 2', sans-serif;

/* Color Palate */
$light: rgb(255, 255, 255);
$dark: rgb(51, 51, 51);
$accent: rgb(8, 144, 158);
$primary: rgb(23, 214, 235);
$secondary: rgb(158, 16, 94);

// font sizes
$font-xxs: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 36px;
$font-xxl: 48px;
$font-xxx: 96px;

// spacing
$spacing-xxs: 1px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;
$spacing-xxl: 124px;

// screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// border radius
$btnRadius: 8px;
$pillRadius: 48px;
$circleRadius: 999px;